.Weather {
border: 1px solid #dadde1;
font-family: Google Sans,arial,sans-serif;
padding: 30px;
border-radius: 4px;
background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
}

.Weather h1 {
    color: #202124;
    font-size: 22px;
    line-height: 26px;
    margin: 20px 0 0 0;
    
}
.Weather ul {
    margin: 0;
    padding:0;
}
.Weather li {
    color: #70757a;
    font-size: 16px;
    line-height: 16px;
    list-style:none;
    
}
.Weather .temperature {
    color: rgb(34, 34, 34);
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    margin-left: 5px;
    font-weight: 400;
    margin-left: 10px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
.Weather .image {
    margin: 0px auto; 
    position: relative; 
    top:-20px;
}